.cart-container{
    min-width:50%;
    max-height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container p{
    display: flex;
    align-self: flex-start;
    color: white;
    background-color: rgb(172, 71, 71);
}
.kart-icon{
    color: white;
}

